.*.sw*
blis/blis.c
*.pyc
*.so
blis/cy.c
blis/py.c
.eggs
.env/
env/
.hypothesis/
build/
cache/
__pycache__/
.python-version
cythonize.dat
dist/
.pytest_cache
blis.egg-info/
tmp/

# Blis stuff
blis/include
.fragment.mk
