name: Build

on:
  push:
    tags:
      # ytf did they invent their own syntax that's almost regex?
      # ** matches 'zero or more of any character'
      - 'release-v[0-9]+.[0-9]+.[0-9]+**'
      - 'prerelease-v[0-9]+.[0-9]+.[0-9]+**'

jobs:
  build:
    uses: explosion/gha-cibuildwheel/.github/workflows/cibuildwheel.yml@main
    with:
      wheel-name-pattern: "blis-*.whl"
      env: |
        {
          "DISTUTILS_USE_SDK": "1",
          "MSSdk": "1",
          "AR": "llvm-ar",
          "AS": "llvm-as",
          "CC": "clang",
          "RANLIB": "echo",
          "CIBW_BUILD_VERBOSITY": "5"
        }
    permissions:
      contents: write
      actions: read
    secrets:
      gh-token: ${{ secrets.GITHUB_TOKEN }}
