name: Generate JSONL

# The windows jsonl generation isn't working, and I don't know why

on:
  push:
    branches: ['*']
    paths:
      - 'flame-blis/**'
  pull_request:
    branches: ['*']
    paths:
      - 'flame-blis/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-jsonl:
    strategy:
      matrix:
        os: [ubuntu-24.04-arm]
        python-version: ['3.10']
      fail-fast: true

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        architecture: arm64

    - name: Install dependencies (Linux)
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install -r requirements.txt
    - name: Generate make jsonl (Linux)
      run: |
        ./bin/generate-make-jsonl linux cortexa57 --export
    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: jsonl-${{ runner.os }}
        path: artifacts/
        retention-days: 5

    # Optional: Automatically commit artifacts
    #- name: Download all artifacts
    #  if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    #  uses: actions/download-artifact@v5
    #  with:
    #    path: downloaded-artifacts
    #- name: Commit artifacts
    #  if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    #  run: |
    #    git config --local user.email "github-actions[bot]@users.noreply.github.com"
    #    git config --local user.name "github-actions[bot]"
    #    cp -r downloaded-artifacts/* artifacts/
    #    git add artifacts/
    #    git commit -m "Update JSONL artifacts [skip ci]" || echo "No changes to commit"
    #    git push
