name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]
  workflow_dispatch: # allows you to trigger manually

# When this workflow is queued, automatically cancel any previous running
# or pending jobs from the same branch
concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

env:
  MODULE_NAME: 'blis'
  RUN_MYPY: 'false'

jobs:
  tests:
    name: Test
    if: github.repository_owner == 'explosion'
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest  # x64
          - ubuntu-24.04-arm  # ARM
          - macos-15-intel  # x64
          - macos-latest  # ARM
          - windows-latest  # x64
        python_version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        cc: ['']
        include:
          # Note: default compiler for Linux is gcc. cibuildwheel uses gcc.
          # FIXME: clang crashes on ARM Linux
          - os: ubuntu-latest
            python_version: "3.10"
            cc: clang
          - os: ubuntu-latest
            python_version: "3.14"
            cc: clang

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Configure Python version
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}

      # Install LLVM 18 on Windows
      - name: Install LLVM 18 on Windows
        if: runner.os == 'Windows'
        run: |
          choco install llvm --version=18.1.8 -y --force
          echo "C:\Program Files\LLVM\bin" >> $env:GITHUB_PATH
 
      - name: Install dependencies
        run: |
          python -m pip install -U build pip setuptools wheel

      - name: Build wheel (Windows)
        if: startsWith(matrix.os, 'windows')
        run: |
          dir "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build" /b

          set "PATH=C:\Program Files\LLVM\bin;%PATH%"
          set "AR=llvm-ar"
          set "AS=llvm-as"
          set "CC=clang"
          set RANLIB=echo
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\vcvarsall.bat" amd64
          clang --version
          python -m build --wheel
        shell: cmd

      - name: Build wheel (Mac)
        if: startsWith(matrix.os, 'macos')
        run: |
          clang --version
          python -m build --wheel

      - name: Build wheel (Linux / gcc)
        if: startsWith(matrix.os, 'ubuntu') && matrix.cc == ''
        run: |
          gcc --version
          python -m build --wheel

      - name: Build wheel (Linux / clang)
        if: startsWith(matrix.os, 'ubuntu') && matrix.cc == 'clang'
        run: |
          clang --version
          CC=clang python -m build --wheel

      # TODO: install mypy from requirements if reenabled
      - name: Run mypy
        shell: bash
        if: ${{ env.RUN_MYPY == 'true' }}
        run: |
          python -m mypy $MODULE_NAME

      - name: Uninstall all packages
        run: |
          python -m pip freeze > installed.txt
          python -m pip uninstall -y -r installed.txt

      - name: Install wheel
        shell: bash
        run: |
          python -m pip install dist/*.whl

      - name: Delete source directory
        shell: bash
        run: |
          rm -rf $MODULE_NAME

      - name: Test import
        shell: bash
        run: |
          python -c "import $MODULE_NAME" -Werror

      - name: Install test requirements
        run: |
          python -m pip install -U -r requirements.txt

      - name: Run tests
        shell: bash
        run: |
          python -m pytest --pyargs $MODULE_NAME -Werror
